.local
*.egg
*.egg-info
*.pyc
*$py.class
*~
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
*.sqlite
datameta/alembic/versions/*.py
datameta/static/node_modules/
datameta/static/package-lock.json
development_notb.ini

*.idea
*venv*