.link-bare, .link-bare:link, .link-bare:hover {
    color: inherit;
    text-decoration: inherit;
}
.text-accent {
    color:#dc3545 !important;
}
.background-accent {
    color:#ffc107 !important;
}
.border-accent {
    border-color:#ffc107 !important;
}

